
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    text-align: center;
}

main {
    text-align: center;   
    font-size: larger;
}

p {
    font-size: 14pt;
    text-align: justify;
    line-height: 20px;
}

h3.left {
    text-align: left;
}

img {
    width: 95%;
    height: 95%;
}

table {
    margin: auto;
    text-align: center;
    border-collapse: separate;
    padding: 0px 25px;
}

td {
    padding: 0px 5px;
}

td.width {
    width: 50%;
}

caption {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding: 0px 25px;
    background-color: rgb(119, 146, 255);
}

footer {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 20pt;
}