@font-face {
    font-family: "PIXY";
    src: url("PIXY/PIXY.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.center {
    text-align: center;
}
.underl {
    text-decoration: underline;
}
.red {
    color: red;
}
.green {
    color: green;
}
.black {
    color: black;
}
.right {
    text-align: right;
}
.blue {
    color: blue;
}
.justify {
    text-align: justify;
}
.md-line {
    margin-inline: 15px;
}
.hide {
    display: none;
    /* visibility: hidden;
    z-index: -1;
    position: fixed; */
}


h2.title {
    color: blue;
    font-weight: bolder;
}

h1.main {
    text-decoration: underline;
    padding-top: 10px;
}


body {
    background: url("img/back.jpg") no-repeat fixed;
    background-position: bottom right, left, right;
    font-family: "PIXY";
    background-size: cover;
    text-align: center;
    font-size: 16pt;
}


div.container {
    border-radius: 50px;
    border: 2px solid black;
    border-right: none;
    border-bottom: none;
    border-top: none;
    margin: 25px 50px 55px 50px;
    background-image: -webkit-linear-gradient(left, rgb(194, 194, 194) 80%, rgba(255, 255, 255, 0) 100%);
    padding-right: 100px;
    padding-bottom: 75px;
}


.inner{
    width: 85%;
    margin-left: 55px;

    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 30px;
    padding-inline: 20px 30px;
    text-align: left;
}

div.detail {
    text-align: right;
    margin: 25px 40px 25px 0px;
}

.picture {
    float: left;
    border: 2px solid black;
    margin: 0px 15px 10px 0px;
    width: 350px;
}

.title2 {
    text-align: center;
    color: darkorchid;
}

.rpad {
    text-indent: 3ch;
}

ul {
    display: block;
}

.small-header {
    margin: auto;
    margin-left: -20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 101%;
    background-image: -webkit-linear-gradient(top left, gray 60%, rgba(255, 255, 255, 0) 78%);
}

.small-header li a {
    display: block;
    padding: 10px 15px 10px 10px;
    color: white;
}
.small-header li a:hover {
    background-color: rgb(194, 194, 194);
    color: black;
}


.ex5 {
    border: 3px dashed green;
    border-radius: 20px;
    color: green;
}

.ex6 {
    border: 2px solid red;
    border-radius: 20px;
}

.ex7 {
    border: 2px solid darkgoldenrod;
    color: darkgoldenrod;
}

.ex7 .small-header {
    background-image: -webkit-linear-gradient(top left, darkgoldenrod 60%, rgba(255, 255, 255, 0) 78%);
}

.ex7 .small-header li a:hover {
    background-color: rgb(194, 194, 194);
    color: darkgoldenrod;
}

.small-footer {
    margin-top: -20px;
    color: darkgoldenrod;
    border: none;
}

.selector {
    z-index: 99;
    position: absolute;
    border: 2px solid black;
    border-radius: 30px;
    background-color: rgb(194, 194, 194);
    margin-top: -30px;
    right: 0;
    left: 0;
    margin-inline: 37%;
}
.selector ul {
    margin: 0;
    display: flexbox;
    width: 100%;
    padding: 0;
    text-align: center;
}
.selector li {
    margin: -25px 80px;
}

.selector li:hover {
    background: gray;
    margin-inline: 20px;
    border-radius: 50px;
}


footer {
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 21px;
    border: 2px solid;
    background-color: antiquewhite;
    z-index: 5;
    font-size: large;
}