body {
    font-size: 14px;
    font-family: Arial;
    color: rgb(255, 255, 255);
    background-size: cover;
    background-attachment: fixed;
    background-image: url("images/bg.jpg");
    background-position: center center;
}

p {
    letter-spacing: 2px;
}

.italic {
    font-style: italic;
    text-decoration: underline;
}

.comic {
    font-family: 'Comic Sans';
    font-size: 25pt;
    text-indent: 50px;
}

.rich {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: bold;
    font-style: italic;
    color: tomato;
    line-height: 25pt;
}

.red {
    color: rgb(255, 38, 0);
    text-transform: uppercase;
}

.perenos {
    white-space: pre-line;
}

.pers {
    letter-spacing: 200%;
    text-indent: 2em;
    line-height: 2;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    font-size: 12pt;
    font-variant-caps: small-caps;
}

.persclass1 {
    text-align: center;
    font-size: 19pt;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 300%;
    word-spacing: normal;
    text-shadow: 50pt;
}

.persclass2 {
    text-align: center;
    font-family: fantasy;
    font-size: 16pt;
    white-space: nowrap;
    color: cadetblue;
    text-overflow: clip;
    text-decoration: overline;
}