*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
    font-weight: 400;
}

.container {
    border: 3px solid black;
    border-radius: 15px;
    max-width: 1500px;
    margin: 0 auto;
    padding-bottom: 20px;
    background-color: darkgrey;
    margin-bottom: 10px;
}

.ex1 {
    border: 3px solid black;
    background-color: cornflowerblue;
    border-radius: 7px;
    padding: 0px 35px;
    padding-bottom: 10px;
}

.inner_container {
    margin: 0 auto;
    max-width: 500px;
}

h2.title {
    text-align: center;
}

.list {
    max-width: 350px;
}

.list .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input {
    margin-bottom: 2px;
}

input[type='radio'] {
    margin-right: 10px;
}

.radio .item {
    max-width: 150px;
    justify-content: flex-start;
    padding: 0 10px 10px 0;
}

div.button {
    margin: 0 auto;
    text-align: center;
    padding: 30px 0px;
}

button.ex1 {
    background-color: aqua;
    font-size: 18pt;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    border-radius: 30px;
    padding: 10px 30px;
    letter-spacing: .12em;
}

.long .item{
    max-width: 400px;
    justify-content: flex-start;
    padding: 0 10px 10px 0;
}


.ex2 {
    min-width: 600px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
}
.ex2 .list {
    max-width: 450px;
}

.ex2 input[type='number'] {
    width: 171px;
}

textarea {
    margin-top: 2px;
    resize: none;
}
select {
    /* min-width: 171px; */
    margin-right: 17%;
}

.text_set {
    border-radius: 5px;
    
    border-color: aqua;
    background-color: rgb(187, 161, 122);
    color: brown;
}

.set_title {
    font-size: larger;
    color: blue;
    font-weight: bold;
}
h4.title {
    margin: 10px auto;
}

.send {
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    border: 1px solid aqua;
    border-radius: 5px;
    background-color: aquamarine;
    color: brown;
    font-weight: bold;
}

.ex2 h3.title {
    color: brown;
    font-size: 16pt;

}