body {
    background-image: url(images/fon.jpg);
    background-position: center center;
    background-attachment: fixed;
    backdrop-filter: cover;
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(160, 0, 0);
}

p {
    font-size: large;
    text-align: justify;
}

div.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img {
    height: max-content;
    width: 250%;
    padding-left: 15px;
    padding-right: 15px;
}